@font-face {
	font-family: linux-biolinum;
	src: url("fonts/Linux Biolinum/LinBiolinum_R.otf");
}

@font-face {
	font-family: ubuntu-mono;
	src: url("fonts/Ubuntu Mono/UbuntuMono-Regular.ttf");
}

@font-face {
	font-family: axis-extrabold;
	src: url("fonts/Axis Extrabold/Axis Extrabold.otf");
}

body {
	background-image: url("images/background.png");
	background-size: 100% 100%;
	background-color: #222233;
	color: #f2f2f2;
	font-family: linux-biolinum; 
}

h1, h2, h3 {
	font-family: axis-extrabold;
}

a:link {
	color: #d0d0ff;
}

a:visited {
	color: #ffc0ff;
}

a:hover, a:active {
	color: #a0a0b8;
}

::selection {
  background: #a0a0b8; /* Gecko Browsers */
}

::-moz-selection {
  background: #a0a0b8; /* Gecko Browsers */
}

.primary-container {
	margin: 0 auto;
	padding: 12px;
	border-image: url("images/normal-container.png") 10 fill;
	border-image-width: 10px;
	max-width: 960px;
}

.title {
	font-family: axis-extrabold;
	font-size: 36pt;
}

.subtitle {
	font-weight: 700;
	font-size: 18pt;
}

#footer {
	color: #808080;
	padding: 20px;
	text-align: center;
}