@font-face {
	font-family: linux-biolinum;
	src: url("fonts/Linux Biolinum/LinBiolinum_R.otf");
}

@font-face {
	font-family: ubuntu-mono;
	src: url("fonts/Ubuntu Mono/UbuntuMono-Regular.ttf");
}

@font-face {
	font-family: axis-extrabold;
	src: url("fonts/Axis Extrabold/Axis Extrabold.otf");
}

body {
	background-image: url("images/background.png");
	background-size: 100% 100%;
	background-color: #222233;
	color: #f2f2f2;
	font-family: linux-biolinum; 
}

h1, h2, h3 {
	font-family: axis-extrabold;
}

a:link {
	color: #d0d0ff;
}

a:visited {
	color: #ffc0ff;
}

a:hover, a:active {
	color: #a0a0b8;
}

img {
	max-width: 70%;
	max-height: 320px;
}

@media (min-width:800px) { 
	img {
		max-width: 640px;
		max-height: 640px;
	}
}

button {
	border-image: url("images/red-container.png") 10 fill;
	border-image-width: 10px;
	color: #f2f2f2;
	font-size: 18px;
	font-family: linux-biolinum;
	min-height: 40px;
	transition: font-size 0.1s linear;
}

.nav-button {
	width: 140.5px;
}

button:hover, button:active {
	cursor: pointer;
	font-size: 22px;
	transition: font-size 0.1s linear;
}

.img-region {
	background: #20004040;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

::selection {
  background: #a0a0b8;
}

::-moz-selection {
  background: #a0a0b8;
}

.primary-container {
	margin: 0 auto;
	padding: 12px;
	border-image: url("images/normal-container.png") 10 fill;
	border-image-width: 10px;
	max-width: 960px;
}

.red-container {
	margin: 0 auto;
	padding: 12px;
	border-image: url("images/red-container.png") 10 fill;
	border-image-width: 10px;
	max-width: 960px;
}

.yellow-container {
	margin: 0 auto;
	padding: 12px;
	border-image: url("images/yellow-container.png") 10 fill;
	border-image-width: 10px;
	max-width: 960px;
}

.title {
	font-family: axis-extrabold;
	font-size: 36pt;
}

.subtitle {
	font-weight: 500;
	font-size: 18pt;
}

.caption {
	color: #d0d0d0;
	font-family: ubuntu-mono;
}

.navigator-filler {
	border-image: url("images/red-container.png") 10 fill;
	border-image-width: 10px;
	width: auto;
}

#navigator {
	border-image: url("images/red-container.png") 10 fill;
	border-image-width: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	max-width: 984px;
	min-height: 40px;
}

#footer {
	color: #808080;
	padding: 20px;
	text-align: center;
}

#tech h1 {
	font-family: linux-biolinum;
}

#tech .namespace-block {
	padding: 10px;
	font-size: x-large;
}

#tech .declaration-kind {
	color: #d0d0d0;
	font-size: small;
	font-family: ubuntu-mono;
}

#tech .namespace-title {
	font-size: x-large;
}

#tech .class-title {
	font-size: large;
}

#tech .main-line-subinfo {
	padding: 2px;
	background: #d0d0d030;
}

#tech .comment-region {
	padding: 6px;
	margin: 10px 0;
	background: #00000030;
	border-color: #40303060;
	border-style: inset;
}